h1 {
color: black;
text-align: center;
}

iframe{
align="center"
border: none;
}



#second-line {
  display: block;
}



.header img {
  float: left;
  width: 250px;
  height: 70px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  right: 40px;
}

.header h3 {
 float: right; 
}

